torch~=2.0
torchvision~=0.15
opencv-contrib-python-headless~=4.9
huggingface_hub~=0.20
Pillow~=10.2
numpy~=1.23
smplx~=0.1
chumpy @ git+https://github.com/chenzhekl/chumpy.git
scipy~=1.10
einops~=0.8
Cython~=0.29
